@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lato:wght@100;300;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Lato', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

div img {
    display: block;
    width: 100%;
}

h1, h2, h3{
    font-family: 'Comfortaa', cursive;
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

header {
    background-color: #122A57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

header .list-items{
    display: flex;
    max-width: 300px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-items li a {
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;

}
.list-items li a:hover {
    background-color: #fff;
    color: #000;
    transition: all 1s ease;
}
header .menu {
    justify-content: space-between;
}

.apresentacao {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.texto-apresentacao {
    min-height: 200px;
}

.texto-apresentacao h1 {
    color: #122A57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn {
    background-color: #122A57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #185bd6;
    transition: 1s;
}


#quem-somos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}


#quem-somos h2{
    font-size: 32px;
    color: #122A57;
    display: flex;
    text-align: center;
    line-height: 48px;
    margin-bottom: 20px;
}

#quem-somos h2::before {
    content: '';
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122A57;
    position: relative;
}

#quem-somos p {
    margin-bottom: 10px;
    text-align: justify;
    width: 90%;
}

#quem-somos img{
    min-width: 420px;
}

.container-externo {
    width: 100%;
    background-color: #122A57;

}

#servicos {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;

}

#servicos h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 40px;
}

.list-servicos {
    display: flex;
    justify-content: space-between;
}

.item-servico {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-servico a {
    width: 120px;
    background-color: #fff;
    border-radius: 30px;
    height: 30px;
    text-align: center;
    margin-top: 20px;
    line-height: 30px;
    padding: 10px 20px;
    color: #122A57;
    font-size: 15px;
    text-decoration: none;
    font-weight: medium;
}

.item-servico a:hover {
    background-color: #122A57;
    border: thin solid #fff;
    color: #fff;
    transition: 0.5s;
}

.item-servico p {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}

.item-servico img {
    width: 80%;
    margin: auto;
}

#planos {
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
}

#planos h2{
    font-size: 32px;
    margin-bottom: 40px;
}
.list-planos {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano {
    flex: 1;
    border: thin solid #122A57;
    border-radius: 12px;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
    margin-bottom: 20px;
}

.item-plano a {
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;

}

.item-plano h3::after {
    content: '';
    background-color: #122A57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plano ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 5px;
}
.item-plano ul li::before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #122A57;
    margin-right: 20px;

}

footer {
    background-color: #122A57;
    height: 70px;
    display: flex;
    align-items: center;
}

footer .footer {
    justify-content: space-between;
    color: #fff;
}


/* mobile */

@media(max-width: 992px){
    .flex-container{
        flex-direction: column-reverse;
        gap: 10px;
        width: auto;
        margin: 30px;
    }

    .header{
        width: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .menu div h1 {
        padding-left: 10px;
    }

    .menu ul {
        margin-bottom: 10px;
    }


    .apresentacao {
        height: auto;
    }

    .texto-apresentacao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 5px;
    }

    .texto-apresentacao h1 {
        text-align: center;
    }

    #quem-somos {
        flex-direction: column-reverse;
    }

    #quem-somos img{
        min-width: 320px;
        margin: auto;
    }

    .list-servicos{
        flex-direction: column;
        gap: 50px;
    }

    .item-servico img{
        width: 50%;
        margin: auto;
    }

    .list-planos {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .list-planos .item-plano{
        max-width: 70%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }


}